
<div class="simple_form_customers">
  <div class="col-12">
    <%= simple_form_for @customer do |f|  %>
      <div class="row">
        <div class="col-12">
          <label for="supplier_name" style="font-weight: bold; font-size: 13px;">Nom du restaurant :</label>
          <%= f.input :restaurant_name, label: false %>

        </div>
      </div>
      <div class="row mt-4">
        <div class="col-6">
          <label for="supplier_name" style="font-weight: bold; font-size: 13px;">Nom :</label>
          <%= f.input :last_name, label: false %>
        </div>
        <div class="col-6">
          <label for="supplier_name" style="font-weight: bold; font-size: 13px;">Prénom :</label>
          <%= f.input :first_name, label: false %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <label for="supplier_name" style="font-weight: bold; font-size: 13px;">Mail :</label>
          <%= f.input :email, label: false %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <label for="supplier_name" style="font-weight: bold; font-size: 13px;">Adresse :</label>
          <%= f.input :address, label: false, id: 'flat_address' %>
        </div>
      </div>
       <div class="">
         <% if controller.action_name == 'edit' %>

              <%= link_to customer_path(@customer), class: 'btn btn-outline-secondary' do %> Annuler
              <% end %>

          <% else %>
              <%= link_to root_path, class: 'btn btn-outline-secondary' do %> Annuler <% end %>
          <% end %>
        <%= f.button :submit, "#{button}", class: 'btn btn-flat' %>
      </div>
    <% end %>

  </div>
</div>
