<div class="main-title">
  <div class="title">
    <h1>Base clients</h1>
  </div>
  <div class="button-add-customer">
    <a class="btn btn-flat mr-2" href="<%= new_customer_path %>">+ Client</a>
    <a class="btn btn-ghost" type="button" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-file-import"></i> <span class="pl-2">Importer</span></a>
    <%= render "/customers/modal_import_csv" %>

  </div>
</div>

<% if @connected_user %>

  <span>Total : <%= @customers.count  %></span>
  <div style="font-style: italic; color:grey;">dont envoyé : <%= @customers.sent.count  %></div>

  <div class="main-content" id="customers" data-target="search.results">
    <%= render @customers %>
  </div>
<% else %>
  <div class="message-not-connected">
    <h2>Veuillez vous connecter pour voir vos informations !</h2>
  </div>

<% end %>
