<div class="main-title">
  <div class="title">
    <h1>Base clients</h1>
  </div>
  <div class="button-add-customer">
    <a class="btn btn-flat mr-2" href="<%= new_customer_path %>">+ Client</a>
    <a class="btn btn-ghost" type="button" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-file-import"></i> <span class="pl-2">Importer</span></a>
    <%= render "/customers/modal_import_csv" %>

  </div>
</div>

<% if @connected_user %>

  <span>Total : <%= @customers.count  %></span>
  <div style="font-style: italic; color:grey;">dont envoyé : <%= @customers.sent.count  %></div>

  <div class="main-content">

    <% @customers.nil? ? "" : @customers.each do |customer|  %>
      <%= link_to customer_path(customer), class: "link-customer" do %>
        <div class="card-customer">
          <div class="card-customer-title">
            <h2><%= customer.restaurant_name %></h2>
          </div>
          <div class="card-customer-mails">
            <p> <%= customer.mail_date.nil? ? "" :  "Envoyé le  " + l(customer.mail_date, format: "%e %b %Y") %></p>
          </div>
          <div class="card-customer-infos">
            <h2><%= customer.first_name %> <%= customer.last_name %></h2>
            <p> <%= customer.email %></p>
          </div>
        </div>
        <% end %>
    <% end %>

  </div>
<% else %>
  <div class="message-not-connected">
    <h2>Veuillez vous connecter pour voir vos informations !</h2>
  </div>

<% end %>
